.card-product{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top:10px;
}
.btn-mas{
    width:100%;
}
footer{
    padding:10px 10px 0 10px;
    margin-bottom: 0;
    margin-top: 10px;
    background-color: #E9ECEF;
}